navigation
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1reem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* home section */
#home{
    height: 250px;
    padding: 1px 16px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}


/* services section */
#services{
    flex-direction: column;
}


/* client section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 39px;
    padding: 0px 3px;
    height: auto;
}

.client-item{
    padding: 30px;
}


/* contact us section */


/* footer */

/* utility */
.h-primary{
    font-size: 23px;
}